# 1. Don’t check in your virtual-env
venv/
__pycache__/

# 2. IDE/project files
.idea/

# 3. Personal outputs, data, logs, etc.
results/results.xlsx
*.log

# 4. Any scripts you’re keeping out of version control
w_H2_demand_*.py

# IntelliJ / PyCharm project files
.idea/

# Linear‐program files
*.lp

# Excel result files
*.xlsx
results/

# Single file you want ignored
all_model.py

#data
inc_data
inc_data_CK
inc_data_full